/**
 * Root text size set in px,
 * main, header, section and footer text size in rems,
 * everything else in ems.
 */


/* Control margins */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

/* Base font size */
html {
  font-size: 14px;
}

/* Body */
body {
  padding: 0 0.5em;
  background-color: #e9e9e9;
  font-family: Helvetica,FreeSans,"Liberation Sans",Helmet,Arial,sans-serif;
}

/* Links */
a {
  text-decoration: none;
  color: darkorange;
}

/**
 * Main and immediate sections.
 */

main {
  font-size: 1rem;
  max-width: 36em;
  margin: 0 auto;
  padding: 2em;
  background-color: #FFFFFF;
}

main > header,
main > section {
  margin-bottom: 3em;
}


/**
 * Main header.
 */

main > header {
  text-align: center;
}

main > header > h1 {
  margin-bottom: 1em;
}

main > header > p {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}


/**
 * Main section lists.
 */

main > section > h2 {
  text-align: center;
  margin-bottom: 1em;
}

main > section > ol,
main > section > ul {
  list-style-type: none;
  padding-left: 0;
}


/**
 * Job sections
 */

section.job {
  font-size: 1rem;
  margin-bottom: 1em;
}

section.job > header {
  margin-bottom: 0.6em;
}

section.job > p {
  margin-bottom: 0.4em;
}

section.job > header > h3 + p {
  font-size: 1.2em;
  margin-bottom: 0.1em;
}

section.job .duration {
  color: #808080;
}