/**
 * Root text size set in px,
 * main, header, section and footer text size in rems,
 * everything else in ems.
 */


/* Control margins */
body, h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

/* Base font size */
html {
  font-size: 14px;
}

/* Body */
body {
  padding: 2em;
}

/* Links */
a {
  text-decoration: none;
}

/**
 * Main and immediate sections.
 */

main {
  font-size: 1rem;
  max-width: 30em;
  margin: 0 auto; 
}

main > header,
main > section {
  margin-bottom: 2em;
}


/**
 * Main header.
 */

main > header {
  font-size: 1.1rem;
  text-align: center;
}

main > header > h1 {
  margin-bottom: 0.6em;
}

main > header > p {
  margin-bottom: 0.4em;
}


/**
 * Main section lists.
 */

main > section > h2 {
  margin-bottom: 0.6em;
}

main > section > ol,
main > section > ul {
  list-style-type: none;
  padding-left: 0;
}


/**
 * Job sections
 */

section.job {
  font-size: 1rem;
  margin-left: 1em;
  margin-bottom: 1em;
}

section.job > header {
  margin-bottom: 0.5em;
}

section.job > header > h3,
section.job > header > p {
  margin-bottom: 0.1em;
}

section.job > p {
  margin-bottom: 0.4em;
}