#pg-wrapper {
  width: 100%;
  height: 20em;
  position: relative;
  margin-top: 5em;
  margin-bottom: 10em;
}

.pg > .close {
  position: absolute;
  font-size: 2rem;
  width: 1.11ex;
  height: 1.11ex;
  line-height: 0.9ex;
  right: -0.5ex;
  top: 1ex;
  border: 2px solid Crimson;
  color: Crimson;
  background-color: rgba(0,0,0,0.75);
  border-radius: 50%;
  font-weight: 900;
  -webkit-box-shadow: 0.2ex 0.2ex 0.7ex 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0.2ex 0.2ex 0.7ex 0 rgba(0,0,0,0.75);
  box-shadow: 0.2ex 0.2ex 0.7ex 0 rgba(0,0,0,0.75);
}


.pg > .instructions > p {
  margin-bottom: 0.3em;
}

.pg > .instructions > .title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 0.1em;
}

