/**
 * @media print stylesheet.
 */

@page {
	margin: 1in;
}

body {
  padding: 0;
  background-color: white;
}

html {
  font-size: 14px;
}

main {
  padding-bottom: 0;
}

main > header,
main > section {
  margin-bottom: 4em;
}

main > section > h2 {
  margin-bottom: 2em;
}

main > section > ol > li {
    margin-bottom: 2.5em;
}

section.occupation p {
  page-break-inside: avoid;
}

.print-only {
  display: initial;
}